<aside
  id="logo-sidebar"
  class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full bg-gray-200 border-r border-gray-200 pt-28 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
  aria-label="Sidebar"
>
  <div class="h-full px-3 pb-4 overflow-y-auto bg-gray-200">
    <ul class="h-full pt-3 space-y-2 font-medium shadow-2xl bg-slate-900 rounded-2xl">
      <li>
        <a
          [routerLink]="['/user/coordinator/dashboard']"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-blue-400 hover:m-3 group" >
          <svg
          class="w-6 h-6 text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 22 21"
          >
            <path
              d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z"
            />
            <path
              d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z"
            />
          </svg>
          <span class="text-white ms-3 hover:text-black">Dashboard</span>
        </a>
      </li>

      <li >
        <a
          [routerLink]="['/user/coordinator/instructors']"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-blue-400 hover:m-3 group">
        <svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
          <path fill-rule="evenodd" d="M7 2a2 2 0 0 0-2 2v1a1 1 0 0 0 0 2v1a1 1 0 0 0 0 2v1a1 1 0 1 0 0 2v1a1 1 0 1 0 0 2v1a1 1 0 1 0 0 2v1a2 2 0 0 0 2 2h11a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H7Zm3 8a3 3 0 1 1 6 0 3 3 0 0 1-6 0Zm-1 7a3 3 0 0 1 3-3h2a3 3 0 0 1 3 3 1 1 0 0 1-1 1h-6a1 1 0 0 1-1-1Z" clip-rule="evenodd"/>
        </svg>

          <span class="flex-1 text-white ms-3 whitespace-nowrap">Manage Instructors</span>

        </a>
      </li>



      <li>
        <a
        [routerLink]="['/user/coordinator/students']"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-blue-400 hover:m-3 group">
          <svg
            class="w-5 h-5 text-white transition duration-75 shrink-0 group-hover:text-gray-900 "
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 18"
          >
            <path
              d="M14 2a3.963 3.963 0 0 0-1.4.267 6.439 6.439 0 0 1-1.331 6.638A4 4 0 1 0 14 2Zm1 9h-1.264A6.957 6.957 0 0 1 15 15v2a2.97 2.97 0 0 1-.184 1H19a1 1 0 0 0 1-1v-1a5.006 5.006 0 0 0-5-5ZM6.5 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9ZM8 10H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z"
            />
          </svg>
          <span class="flex-1 text-white ms-3 whitespace-nowrap">Manage Students</span>
        </a>
      </li>



      <li >
        <a
          [routerLink]="['/user/coordinator/course']"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-blue-400 hover:m-3 group" >
        <svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 5v14m-8-7h2m0 0h2m-2 0v2m0-2v-2m12 1h-6m6 4h-6M4 19h16c.5523 0 1-.4477 1-1V6c0-.55228-.4477-1-1-1H4c-.55228 0-1 .44772-1 1v12c0 .5523.44772 1 1 1Z"/>
        </svg>

          <span class="flex-1 text-white ms-3 whitespace-nowrap">Manage Courses</span>

        </a>
      </li>

      <li >
        <a
          [routerLink]="['/user/coordinator/assign-course']"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-blue-400 hover:m-3 group" >
        <svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 5v14m-8-7h2m0 0h2m-2 0v2m0-2v-2m12 1h-6m6 4h-6M4 19h16c.5523 0 1-.4477 1-1V6c0-.55228-.4477-1-1-1H4c-.55228 0-1 .44772-1 1v12c0 .5523.44772 1 1 1Z"/>
        </svg>

          <span class="flex-1 text-white ms-3 whitespace-nowrap">Assign Courses</span>

        </a>
      </li>


      <!-- <li>
        <a
        [routerLink]="['/user/coordinator/settings']"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-blue-400 hover:m-3 group" >
        <svg
        class="w-5 h-5 text-white transition duration-75 shrink-0 group-hover:text-gray-900 "
        aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
         width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
          <path fill-rule="evenodd" d="M17 10v1.126c.367.095.714.24 1.032.428l.796-.797 1.415 1.415-.797.796c.188.318.333.665.428 1.032H21v2h-1.126c-.095.367-.24.714-.428 1.032l.797.796-1.415 1.415-.796-.797a3.979 3.979 0 0 1-1.032.428V20h-2v-1.126a3.977 3.977 0 0 1-1.032-.428l-.796.797-1.415-1.415.797-.796A3.975 3.975 0 0 1 12.126 16H11v-2h1.126c.095-.367.24-.714.428-1.032l-.797-.796 1.415-1.415.796.797A3.977 3.977 0 0 1 15 11.126V10h2Zm.406 3.578.016.016c.354.358.574.85.578 1.392v.028a2 2 0 0 1-3.409 1.406l-.01-.012a2 2 0 0 1 2.826-2.83ZM5 8a4 4 0 1 1 7.938.703 7.029 7.029 0 0 0-3.235 3.235A4 4 0 0 1 5 8Zm4.29 5H7a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h6.101A6.979 6.979 0 0 1 9 15c0-.695.101-1.366.29-2Z" clip-rule="evenodd"/>
        </svg>

          <span class="flex-1 text-white ms-3 whitespace-nowrap" >Settings</span>
        </a>
      </li> -->
      <li>
        <a
        [routerLink]="['/user/coordinator/profile']"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-blue-400 hover:m-3 group"
        >
        <svg
        class="w-6 h-6 text-gray-800 dark:text-white" class="w-5 h-5 text-white transition duration-75 shrink-0 group-hover:text-gray-900 "  aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 21a9 9 0 1 0 0-18 9 9 0 0 0 0 18Zm0 0a8.949 8.949 0 0 0 4.951-1.488A3.987 3.987 0 0 0 13 16h-2a3.987 3.987 0 0 0-3.951 3.512A8.948 8.948 0 0 0 12 21Zm3-11a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
        </svg>

          <span class="flex-1 text-white ms-3 whitespace-nowrap">Profile</span>
        </a>
      </li>

    </ul>
  </div>
</aside>
