<div class="w-full h-full mt-24">

  <!-- Breadcrumb -->
  <nav
    class="flex items-center justify-between px-6 py-4 mb-8 text-sm text-gray-700 bg-gray-100 border rounded-lg dark:bg-gray-800 dark:border-gray-700 dark:text-gray-300"
    aria-label="Breadcrumb"
  >
    <ol class="inline-flex items-center space-x-2">
      <li>
        <a href="#" class="hover:text-blue-600 dark:hover:text-white">Home</a>
      </li>
      <li>
        <svg class="w-3 h-3 mx-1 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 6 10">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 9L5 5 1 1" />
        </svg>
      </li>
      <li class="font-medium text-blue-600 dark:text-white">Assign Course</li>
    </ol>


  </nav>

  <!-- Assign Course Form -->
  <form (submit)="AssignCourse()" #AssignForm="ngForm" >
  <div class="p-3 rounded-lg shadow-md bg-gray-50 dark:bg-gray-900">


        <!-- Course -->
        <label for="course_name" class="block mb-2 text-sm font-bold text-gray-900 dark:text-white">
          Course Name and Code
        </label>
        <ng-select
          [items]="course_list"
          bindLabel="displayText"
          bindValue="id"
          [(ngModel)]="course_id"
          [trackByFn]="trackById"
          placeholder="Select a Course"
          [searchable]="true"
          name="course_id"
          id="course_name"
          class="w-full px-3 py-2 text-gray-900 bg-white border border-gray-300 rounded-lg"
        ></ng-select>

        <!-- Instructor -->
        <label for="instructor_name" class="block mb-2 text-sm font-bold text-gray-900 dark:text-white">
          Instructor
        </label>
        <ng-select
          [items]="instructors"
          bindLabel="displayText"
          bindValue="id"
          [(ngModel)]="instructor_id"
          [trackByFn]="trackById"
          placeholder="Select an Instructor"
          [searchable]="true"
          name="instructor_id"
          id="instructor_name"
          class="w-full px-3 py-2 text-gray-900 bg-white border border-gray-300 rounded-lg"
        ></ng-select>

        <!-- Student -->
        <label for="student_name" class="block mb-2 text-sm font-bold text-gray-900 dark:text-white">
          Student
        </label>
        <ng-select
          [items]="students"
          bindLabel="displayText"
          bindValue="id"
          [(ngModel)]="student_id"
          [multiple]="true"
          [trackByFn]="trackById"
          placeholder="Select a Students"
          [searchable]="true"
          name="student_id"
          id="student_name"
          class="w-full px-3 py-2 text-gray-900 bg-white border border-gray-300 rounded-lg"
        ></ng-select>

      </div>



   <div class="mt-3">
      <button
      type="submit"
      [disabled]="!AssignForm.valid"
      class="px-4 py-2 text-white rounded bg-slate-800 hover:bg-blue-700 focus:ring-2 focus:ring-blue-300"
    >
      Assign Course
    </button>
  </div>
</form>


  <div class="mt-6">

    <table id="search-table">
      <thead>
          <tr>
            <th>
              <span class="flex items-center">
                 #
                  <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                  </svg>
              </span>
          </th>
              <th>
                  <span class="flex items-center">
                     Course Code
                      <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                      </svg>
                  </span>
              </th>

              <th>
                <span class="flex items-center">
                   Course Name
                    <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                    </svg>
                </span>
            </th>

            <th>
              <span class="flex items-center">
                 Students
                  <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                  </svg>
              </span>
          </th>

          <th>
            <span class="flex items-center">
              Lectures
                <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                </svg>
            </span>
        </th>

          </tr>
      </thead>
      <tbody class="bg-white">

        <tr *ngFor="let item of asignCourseResult; let i = index">
             <td class="font-bold">{{i+1}}</td>
             <td class="font-bold">{{item.course.name}}</td>
             <td class="font-bold">{{item.course.code}}</td>
             <td class="font-bold">{{item.studentProgrammes}}</td>
             <td class="font-bold">{{item.instructor.name}}</td>


        </tr>


      </tbody>
    </table>


    </div>



</div>
